.bagel-listing {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px hsl(0, 100%, 67%);
    padding: 1rem;
    margin-bottom: 1rem;
}

.bagel-listing i, img {
    cursor: pointer;
    color: hsl(0, 50%, 50%)
}

.bagel-listing img + img {
    margin-left: 1rem;
}

.bagel-listing img {
    max-width: 40px;
    max-height: 40px;
}